* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
font-size: 10px;
line-height: 2.5;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  background-image: linear-gradient(
      120deg,
      rgba(38, 38, 182, 0.8),
      rgba(157, 157, 212, 0.7)
    ),
    url(../imagenes/educacion.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header #title{
  display: flex;
  justify-content: center;
  padding: 50px 0px 1px;
  font-weight: 400;
  line-height: 2.0;
}

p{
  display: flex;
  justify-content: center;
  color: #ffffff;
}

.form-group label{
  color: #ffffff;
}

#survey-form{
  background: #1b1b33;
  padding: 60px;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#submit{
  display: block;
  width: 100%;
  padding: 1rem;
  border-radius: 2px;
  cursor: pointer;
  text-transform: capitalize;
}

label{
  text-transform: capitalize;
}
